# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

Untitled*.ipynb
# ignore all notebooks for now
notebooks/

tmp*

googlecalendar/token.json

.cache

dist/